<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yangjie.mapper.EmployeeMapper">

    <select id="getEmp" resultType="Employee">
        select * from employee where id = #{id}
    </select>

    <insert id="insertEmp">
        insert into employee(name) values (#{name})
    </insert>
</mapper>